# Logs
logs
src/logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Reports
reports/type-check-output.txt
reports/eslint-analysis.txt
reports/snyk-code-analysis.txt
reports/snyk-dependency-analysis.txt

#Snyk
.dccache
