:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Box Shadow and transformation */
.selectionAnimation:hover,
.selectionAnimation:focus-within,
.selectionAnimation:focus  {
  transform: translate3d(3px, 3px, 0px);
  box-shadow: 8px 8px 12px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s ease 0s, box-shadow 0.5s linear 0s;
}

/* INPUT FIELD HIDE ARROW KEYS ON NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/* INPUT FIELD HIDE ARROW KEYS ON NUMBER MOZILLA */
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}